<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.simplesolutions.vipul.snookerscorekeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Snooker_Activity"
            android:label="@string/title_activity_snooker_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.simplesolutions.vipul.snookerscorekeeper.SnookerActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Race_Activity"
            android:label="@string/title_activity_race_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.simplesolutions.vipul.snookerscorekeeper.RaceActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayersName_Activity"
            android:label="@string/title_activity_players_name_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.simplesolutions.vipul.snookerscorekeeper.PlayersNameActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>